# Compiled Object files
*.o
*.a

# Executables
*.exe
*.out  

# Language-specific junk
*.mean

# IDE/Editor junk
.vscode/    
.clangd
.clang-format
.installer/
specific.cmd
run_tests.cmd 
#Still developing the run_tests!